.tagButton1 {
    background-color: purple; 
    border: none;
    color:black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 5px 7px rgb(0,0,0,0.5);
    cursor: pointer;
    transition: all 0.3s;
}

.tagButton:hover {
    background-color: rgb(88,0,88);
}